:root {
  /* =================TEXT COLORS================= */
  /* slate */
  --main-txt-color: #434455;
  /* navy-blue */
  --secondary-txt-color: #2e2f42;
  /* ocean */
  --accent-txt-color: #404bbf;
  /* Iris */
  --primary-brand-color: #4d5ae5;
  --white-txt-color: #ffffff;
  /* Light Slate */
  --main-icon-color: #8e8f99;

  /* =================BACKGROUND COLORS================= */
  /* navy-blue */
  --main-bgc-color: #2e2f42;
  /* cornflower */
  --nav-bgc-color: #e7e9fc;
  /* ocean */
  --accent-bgc-color: #404bbf;
  /* cloud */
  --light-bgc-color: #f4f4fd;
  /* white */
  --white-bgc-color: #ffffff;
  /* green */
  --icon-accent-color: #31d0aa;

  /* Others */
  --indent: 24px;
  --items: 3;
}

/* RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-txt-color);
}

/* === COMMON styles ===*/
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  color: var(--secondary-txt-color);
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.title {
  color: var(--secondary-txt-color);
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc(
    (100% - (var(--indent) * (var(--items) - 1))) / var(--items)
  );
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =========================== STUDIO page =========================== */
/* HEADER */
.header {
  border-bottom: 1px solid var(--nav-bgc-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--primary-brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-header {
  color: var(--secondary-txt-color);
}

.nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-right: auto;
}

.auth-nav-list {
  display: flex;
  gap: 40px;
}

.auth-nav {
  font-style: normal;
}

.nav-link {
  position: relative;
  display: block;
  color: var(--secondary-txt-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-bgc-color);
  border-radius: 2px;
}

.auth-nav-link {
  color: currentColor;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-txt-color);
}

/* HERO */
.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bgc-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  color: var(--white-txt-color);
  font-size: 56px;
  line-height: calc(60 / 56);
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  width: 496px;
  min-height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.modal-btn {
  background-color: var(--primary-brand-color);
  color: var(--white-txt-color);
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-bgc-color);
}

.wrapper {
  padding: 32px 16px;
  text-align: center;
  border: 1px solid var(--nav-bgc-color);
  border-top: none;
}

/* ADVANTAGES */
.advantages-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  background: var(--light-bgc-color);
  border-radius: 4px;
}

.advantages-list-item {
  --items: 4;
}

/* SERVICES */
.services {
  padding-bottom: 120px;
  padding-top: 0px;
}

/* TEAM */
.socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-right: 80px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  color: var(--light-bgc-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-txt-color);
}

.socials-icon {
  fill: currentColor;
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--light-bgc-color);
}

.team-list-item {
  --items: 4;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-bgc-color);
}

.team-list-item .text {
  margin-bottom: 8px;
}

.team-wrapper {
  padding: 32px 0;
  text-align: center;
  border: 1px solid var(--nav-bgc-color);
  border-top: none;
}

/* CUSTOMERS */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  gap: var(--indent);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  color: var(--main-icon-color);

  border: 1px solid var(--main-icon-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-bgc-color);
  border: 1px solid var(--accent-bgc-color);
}

.customers-icon {
  fill: currentColor;
}

/* FOOTER */
.footer {
  background-color: var(--main-bgc-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  color: var(--nav-bgc-color);
  width: 264px;
  margin-top: 16px;
}

.footer-title {
  display: block;
  color: var(--white-txt-color);
  font-weight: 500;
  margin-bottom: 16px;
}

.footer .socials-link {
  background: rgba(255, 255, 255, 0.1);
  color: var(--light-bgc-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--icon-accent-color);
}

.footer-wrapper {
  display: flex;
  /* gap: 120px; */
}

.logo-footer {
  color: var(--light-bgc-color);
}

/* =========================== PORTFOLIO page =========================== */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-list {
  margin-bottom: 72px;
  width: 586px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  align-items: center;
}
.portfolio-filter-list-item {
  flex-basis: calc((100% - (24 * 4) / 5));
}

.portfolio-list {
  row-gap: 48px;
}

.btn-light-bgc {
  background-color: var(--light-bgc-color);
  color: var(--primary-brand-color);
  padding: 12px 24px;
  min-height: 48px;
  white-space: nowrap;
  border: 1px solid var(--nav-bgc-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-light-bgc:hover,
.btn-light-bgc:focus {
  background-color: var(--accent-bgc-color);
  color: var(--white-txt-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--accent-bgc-color);
}

.portfolio-list-item .wrapper {
  text-align: left;
}

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 90, 229, 1);
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
  color: var(--light-bgc-color);
}

.portfolio-link:hover .overlay {
  transform: translateY(0);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  background: var(--nav-bgc-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-bottom: 24px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
}

.close-modal:hover,
.close-modal:focus {
  background-color: #404bbf;
  color: var(--white-bgc-color);
}

.close-modal-icon {
  fill: currentColor;
}

/* new */
.modal {
  padding: 24px;
  padding-top: 72px;
}

.modal-form-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: var(--main-icon-color);
}

.modal-form-group {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input,
.modal-form-message {
  padding: 8px 16px 8px 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  height: 120px;
  resize: none;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
  border-color: var(--primary-brand-color);
  border-radius: 4px;
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-brand-color);
}

.modal-form-agreement {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.modal-form-agreement-desc {
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #757575;
}

.modal-form-agreement-link {
  color: var(--primary-brand-color);
  text-decoration: underline;
  cursor: pointer;
}

.modal-form-agreement-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}

.modal-form-agreement-checkbox:checked {
  background-color: var(--accent-bgc-color);
  border-color: var(--accent-bgc-color);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.77941 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: center;
}

/* Footer-form */
.footer-form-title {
  color: var(--white-txt-color);
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-btn {
  background-color: var(--primary-brand-color);
  color: var(--white-txt-color);
  display: flex;
  align-items: center;
  gap: 16px;

  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--accent-bgc-color);
}

.footer-icon {
  fill: currentColor;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-main {
  margin-right: 120px;
}

.footer-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--white-txt-color);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(24 / 12);
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
}
